@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --button-hover: #ea7600;
}

body {
  margin: 0;

  overflow-x: hidden;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;

  color: var(--primary);

  font-weight: 400;

  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.section-padding {
  padding: 100px 0;
}

.bg-pattern {
  position: relative;
  z-index: 1;
}

.bg-pattern::before {
  position: absolute;
  z-index: -10;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.bg-light {
  background-color: var(--light);
}

.bg-brown {
  background-color: var(--brown);
}

.text-dark {
  color: var(--dark);
}

.text-white {
  color: var(--white);
}

.btn {
  display: inline-block;
  padding: 12px 24px;

  color: var(--white);

  font-weight: bold;
  text-decoration: none;

  background-color: var(--primary);
}

.btn:hover {
  background-color: var(--button-hover);
}

.btn-more {
  margin-top: 40px;
}

.header-content {
  position: relative;

  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0;
}

.header-title {
  margin-bottom: 185px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  z-index: -1;

  height: 525px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 540px;
}

.column p {
  margin: 0;
}

.column p + p {
  margin-top: 1em;
}

.video-content {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-title,
.video-text {
  margin-bottom: 30px;
}

.video-title {
  text-align: center;
}

.video-text {
  margin-top: 0;
}

.video {
  margin-bottom: -200px;

  border: 0;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

#navigation {
  background-color: var(--dark);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 100px 0 0;
  padding: 0;

  row-gap: 20px;

  list-style: none;
}

.nav-list-item {
  width: 350px;
  padding: 24px;

  background-color: var(--light);
}

.nav-list-item:not(.nav-list-title):hover {
  background-color: var(--primary);
}

.nav-list-title {
  padding: 0;

  background: none;
}

.nav-title {
  font-weight: 400;
  font-size: 52px;
}

.nav-block {
  display: block;

  text-decoration: none;
}

.nav-block-num {
  margin-bottom: 40px;

  color: var(--primary-dark);

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.nav-block-title {
  color: var(--primary);
}

.nav-block-text {
  color: var(--dark);
}

.nav-list-item:not(.nav-list-title):hover .nav-block-num,
.nav-list-item:not(.nav-list-title):hover .nav-block-title,
.nav-list-item:not(.nav-list-title):hover .nav-block-text {
  color: var(--white);
}

.section-content {
  display: flex;

  column-gap: 30px;
}

.reverse-row {
  flex-direction: row-reverse;
}

.section-content .image {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.section-title {
  font-family: Neucha, sans-serif;
}

.section-title .name {
  margin: 0;

  color: var(--translucent-dark);
  font-size: 24px;
}

.section-title .title {
  margin-bottom: 30px;

  color: var(--dark);
}

.section-title .desc {
  margin: 0;

  font-size: 34px;
  line-height: 1.2;
}

.columns-header {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;

  background-color: var(--brown);
}

.bg-brown .section-title {
  color: var(--white);
}

.bg-brown .section-title .title {
  color: var(--white);
}

.bg-brown .section-title .name {
  color: var(--translucent-white);
}

.bg-brown .columns-header {
  color: var(--brown);

  background-color: var(--white);
}

.bg-brown .columns {
  color: var(--white);
}
